<div class="page-container">
  <h1>Edit Post</h1>
  <form action="/posting/{{posting._id}}/edit" method="POST">
    <label for="">Post Title</label>
    <br>
    <input type="text" name="title" value="{{posting.title}}">
    <br>
    <label for="">Describe It</label>
    <br>
    <textarea name="description" rows="5" cols="24">{{posting.description}}
</textarea>
    <br>
    <label for="">Where?</label>
    <br>
    <select name="location">
      <option value="{{posting.location}}">--Please select your City--</option>
      {{#each locations}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <br>
    <label for="">Date</label>
    <br>
    <label for="">Address (optional)</label>
    <br>
    <input type=" text" name="address" value="{{posting.address}}">
    <br>
    <label for="">Contact Number (optional)</label>
    <br>
    <input type=" tel" name="phoneNumber" value="{{posting.phoneNumber}}">
    <br>
    <label for="">Insured?</label>
    <br>
    <select name="insurance" value="{{posting.insurance}}">
      <option value="">--Please choose an option--</option>
      <option value="tue">Yes</option>
      <option value="false">No</option>
    </select>
    <br>
    <label for="">Wage?</label>
    <br>
    <input type=" number" name="hourlyFee" value="{{posting.hourlyFee}}">
    <br>
    <label for="">Images</label>
    <br>
    <input type="file" name="image" src="{{posting.image}}">
    <br>
    <br>

    <button type=" submit" class="btn btn-primary">Submit</button>
  </form>
</div>