<h1>This is the search result</h1>
{{#if user}}
<article>
  {{#each result }}
  <div>
    <a href="/posting/{{this._id}}/view">
      <h2>
        {{this.title}}
      </h2>
    </a>
  </div>
  <div>
    <p>
      {{this.description}}
    </p>
    <h2> € {{this.hourlyFee}}</h2>
  </div>
  <div>
    <img src="{{this.image}}" alt="">
  </div>
  {{/each}}
</article>
{{else}}
<article>
  {{#each result }}
  <div>
    <a href="/auth/signup">
      <h2>
        {{this.title}}
      </h2>
    </a>
  </div>
  <div>
    <p>
      {{this.description}}
    </p>
    <h2> € {{this.hourlyFee}}</h2>
  </div>
  <div>
    <img src="{{this.image}}" alt="">
  </div>
  {{/each}}
</article>
{{/if}}