<div class="page-container">

  <h1>This is the general view of: {{posting.title}}</h1>
  <h2>€ {{posting.hourlyFee}} </h2>
  <p><b> Description: </b>{{posting.description}}</p>
  <p>{{posting.date}}</p>
  <h3><b> Contact:</b> {{posting.phoneNumber}}</h3>

  {{#each posting.image}}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{this}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{this}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{this}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {{/each}}
  {{#if postOwner}}
  <a href="/posting/{{posting._id}}/edit"><button>Edit Post</button></a>
  <a href="/posting/{{posting._id}}/delete"><button>Remove Post</button></a>
  {{/if}}
  {{#if user}}
  {{!-- <form method="POST" action="/events/{{posting._id}}/rating">
    <p>Please give your valuable opinion:</p>
    <label for="ratings">How fun was this event</label>
    <select name="ratings" id="rating">
      <option value="1">1*</option>
      <option value="2">2*</option>
      <option value="3">3*</option>
      <option value="4">4*</option>
      <option value="5">5*</option>
    </select>

    <button type="submit">Create a rating</button>
  </form> --}}
  {{/if}}
</div>