<div class="page-container" id="profile-container">
  <div>
    <h3>Hello: <br>
      {{user.firstName}} {{user.lastName}}
      <hr>
    </h3>
    <h4>From: <br> {{user.location}}</h4>
    <hr> <a href="/profile/edit"><button class="btn btn-outline-primary">Update
        Profile</button></a>
  </div>
  <div class="own-posting">
    <div class="new-posting-button">
      <a href="/posting/new"><button class="btn btn-primary">New Post</button></a>
    </div>
    {{#each posting }}
    <div>
      <a href="/posting/{{this._id}}/view">
        <h3>
          {{this.title}}
        </h3>
      </a>
      <h2> € {{this.hourlyFee}}</h2>
      <h3>{{this.date}}</h3>
    </div>
    <div>
      <p>
        description
        {{this.description}}
      </p>
    </div>
    <div>
      <img src="{{this.image}}" alt="" height="200rem" width="200rem">
    </div>
    <div>
      <a href="/posting/{{this._id}}/edit"><button class="btn btn-primary">Edit Post</button></a>
      <a href="/posting/{{this._id}}/delete"><button class="btn btn-outline-primary">Remove Post</button></a>
    </div>
    <br>
    <hr>
    <br>
    {{/each}}
  </div>
</div>