<h1>Profile</h1>
<div>
  <div>
    <h3>
      {{user.firstName}} {{user.lastName}}
    </h3>
    <h4>{{user.location}}</h4>
    <img src="{{user.image}}" alt="image" srcset="">
    <a href="/profile/edit"><button>Update Profile</button></a>
  </div>
  <div>
    <a href="/posting/new"><button>New Post</button></a>
    <div>
      {{#each posting }}
      <a href="/posting/view">
        <h3>
          {{posting.title}}
          {{this.title}}
        </h3>

      </a>
      <p>
        description
        {{this.description}}
      </p>
      <div>
        0.0
        {{this.image}}
      </div>
      <a href="/posting/edit"><button>Edit Post</button></a>
      <a href="/posting/delete"><button>Remove Post</button></a>
      {{/each}}
    </div>
  </div>
</div>